<div class="form-control">
    <%- include('../layouts/boilerplate', { title: '' , body: '' }) %>
</div>

    <link rel="stylesheet" href="/stylesheet/purchase/purchaseVatReport.css">

    <div class="container mt-4 wow-form">
        <div class="card mt-4 shadow-lg p-4 animate_animated animate_fadeInUp">
            <h1 style="text-align: center;">Purchase VAT Report</h1>
                <div class="card-body">
                    <form action="/purchase-vat-report" method="get" class="mb-4">
                        <div class="row">
                            <% if (companyDateFormat==='english' ) { %>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="fromDate">From:</label>
                                        <input type="text" name="fromDate" id="fromDate" class="form-control"
                                            value="<%= fromDate ? fromDate : (currentFiscalYear ? new Date(currentFiscalYear.startDate).toISOString().substr(0, 10) : new Date().toISOString().substr(0, 10)) %>"
                                            autofocus>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="toDate">To:</label>
                                        <input type="text" name="toDate" id="toDate" class="form-control"
                                            value="<%= new Date().toISOString().split('T')[0] %>">
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="fromDate">From:</label>
                                            <input type="text" name="fromDate" id="fromDate" class="form-control"
                                                value="<%= fromDate ? fromDate : (currentFiscalYear ? new Date(currentFiscalYear.startDate).toISOString().substr(0, 10) : new Date().toISOString().substr(0, 10)) %>"
                                                autofocus>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="toDate">To:</label>
                                            <input type="text" name="toDate" id="toDate" class="form-control"
                                                value="<%= nepaliDate %>">
                                        </div>
                                    </div>
                                    <% } %>
                                        <div class="col">
                                            <label for=""><i class="fas fa-chart-line"></i></label>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Generate Report</button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for=""><i class="fas fa-print"></i></label>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-info" onclick="printReport()">Print
                                                    Report</button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for=""><i class="fas fa-sync-alt"></i></label>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-secondary"
                                                    onclick="refreshPage()">Refresh
                                                    Page</button>
                                            </div>
                                        </div>
                        </div>
                    </form>

                    <% if (purchaseVatReport.length===0) { %>
                        <div class="alert alert-info">Please generate to view report</div>
                        <% } else { %>
                            <div class="report-container">
                                <h2 style="text-align: center;">
                                    <%= currentCompanyName %>
                                </h2>

                                <p style="text-align: center;">
                                    <%= currentCompany.address %>-<%= currentCompany.ward %>, <%= currentCompany.city %>
                                                ,
                                                <%= currentCompany.country %> <br>
                                                    <strong>PAN:</strong>
                                                    <%= currentCompany.pan %>
                                </p>
                                <hr style="border: 0.5px solid;">

                                <div class="form-group row">
                                    <div class="col" style="display: flex; justify-content: space-between;">
                                        <p><strong>From:</strong>
                                            <%= fromDate %>
                                        </p>
                                        <p><strong>Purchase Book</strong></p>
                                        <p><strong>To:</strong>
                                            <%= toDate %>
                                        </p>
                                    </div>
                                </div>

                                <table class="table table-bordered table-hover" id="billsList" style="font-size: 0.8rem;">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th style="width: 9%;">Vch. No.</th>
                                            <th style="width: 20%;">Supplier's Name</th>
                                            <th>Supplier's PAN</th>
                                            <th>Total Purchase Amt</th>
                                            <th>Discount Amt</th>
                                            <th>Non VAT Purchase</th>
                                            <th>Taxable Amount</th>
                                            <th>VAT Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (purchaseVatReport.length> 0) { %>
                                            <% purchaseVatReport.forEach(report=> { %>
                                                <tr>
                                                    <td>
                                                        <%= new Date(report.date).toLocaleDateString() %>
                                                    </td>
                                                    <td>
                                                        <%= report.billNumber %>
                                                    </td>
                                                    <td style="white-space: nowrap;">
                                                        <%= report.account %>
                                                    </td>
                                                    <td>
                                                        <%= report.panNumber %>
                                                    </td>
                                                    <td>
                                                        <%= report.totalAmount.toFixed(2) %>
                                                    </td>
                                                    <td>
                                                        <%= report.discountAmount.toFixed(2) %>
                                                    </td>
                                                    <td>
                                                        <%= report.nonVatPurchase %>
                                                    </td>
                                                    <td>
                                                        <%= report.taxableAmount.toFixed(2) %>
                                                    </td>
                                                    <td>
                                                        <%= report.vatAmount.toFixed(2) %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="9">No transactions found for the selected date
                                                                range.</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                    <tfoot>
                                        <tr id="totals-row">
                                            <td colspan="4"><strong>Total:</strong></td>
                                            <td><strong id="totalPurchaseAmount">0.00</strong></td>
                                            <td><strong id="totalDiscountAmount">0.00</strong></td>
                                            <td><strong id="totalNonVatPurchase">0.00</strong></td>
                                            <td><strong id="totalTaxableAmount">0.00</strong></td>
                                            <td><strong id="totalVatAmount">0.00</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>

    <script src="/javascript/purchase/purchaseVatReport.js"></script>