<%- include('../layouts/boilerplate', { title: '' , body: '' }) %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheet/purchase/purchaseEntry.css">
    <style>
        select:invalid {
            border-color: red;
        }

        select:valid {
            border-color: green;
        }
        
    </style>

    <!-- Nepali Datepicker -->
    <link href="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.7.min.css"
        rel="stylesheet" type="text/css" />

    <div class="container wow-form expanded-container">
        <div class=" card mt-4 shadow-lg p-4 animate__animated animate__fadeInUp expanded-card">
            <div class="card-header">
                Purchase Entry<span id="customAlertForBillNumber" style="color: red; display: none;">Invoice is required!</span>
                <span id="customAlert" style="color: red; display: none;">Suppliers invoice is required!</span>
                <span id="transactionDateError" style="color: red; display: none;">Invalid date!</span>
                <span id="nepaliDateError" style="color: red; display: none;">Invalid date!</span>    
            </div>
            <div class="card-body">
                <form action="/purchase-bills" method="post" id="billForm" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <% if (companyDateFormat==='nepali' ) { %>
                            <div class="col">
                                <label for="transactionDateNepali">Transaction Date:</label>
                                <input type="text" name="transactionDateNepali" id="transactionDateNepali"
                                    class="form-control" value="<%= transactionDateNepali ||'' %>" autofocus required
                                    onfocus="selectValue(this)">
                            </div>
                            <div class="col">
                                <label for="nepaliDate">Invoice Date:</label>
                                <input type="text" name="nepaliDate" id="nepaliDate" class="form-control" required
                                    value="<%= nepaliDate || '' %>" onfocus="selectValue(this)" autofocus>
                            </div>
                            <% } else { %>
                                <div class="col">
                                    <label for="transactionDateRoman">Transaction Date:</label>
                                    <input type="date" name="transactionDateRoman" id="transactionDateRoman"
                                        class="form-control" value="<%= new Date().toISOString().split('T')[0]%>"
                                        onfocus="selectValue(this)" autofocus required>
                                </div>
                                <div class="col">
                                    <label for="billDate">Invoice Date:</label>
                                    <input type="date" name="billDate" id="billDate" class="form-control" required
                                        value="<%= new Date().toISOString().split('T')[0] %>"
                                        onfocus="selectValue(this)" autofocus>
                                </div>
                                <% } %>
                                    <div class="col">
                                        <label for="billNumber">Vch. No:</label>
                                        <input type="number" name="billNumber" id="billNumber" class="form-control"
                                            value="<%=nextPurchaseBillNumber %>" onfocus="selectValue(this)">
                                    </div>
                                    <div class="col">
                                        <label for="paymentMode">Payment Mode:</label>
                                        <select class="form-control" id="paymentMode" name="paymentMode" required>
                                            <option value="" disabled selected>Select</option>
                                            <option value="cash">Cash</option>
                                            <option value="credit">Credit</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="partyBillNumber" class="form-label">Suppliers Inv. No:</label>
                                        <input type="text" class="form-control" id="partyBillNumber"
                                            name="partyBillNumber" autocomplete="off" onfocus="selectValue(this)"
                                            required>
                                    </div>

                                    <div class="col">
                                        <label for="isVatExempt">VAT</label>
                                        <select name="isVatExempt" id="isVatExempt" class="form-control"
                                            onchange="toggleVatInputs()"
                                            onchange="filterItems(document.getElementById('itemSearch'))">
                                            <option value="" disabled selected>Select</option>
                                            <% if (vatEnabled) {%>
                                                <option value="all">All</option>
                                                <option value="false">13%</option>
                                                <%}%>
                                                    <option value="true">Exempt</option>
                                        </select>
                                    </div>
                    </div>
                    <div class="form-group row">
                        <div class="col hidden">
                            <label for="purchaseSalesType">Type</label>
                            <select id="purchaseSalesType" name="purchaseSalesType" class="form-control" disabled>
                                <option value="Purchase">Purchase</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <label for="account">Party Name:</label>
                            <select name="account" id="account" class="form-control" required>
                                <option value="" disabled selected>Select a party name</option>
                                <% if (accounts && accounts.length> 0) { %>
                                    <% accounts.forEach(account=> { %>
                                        <option value="<%= account._id %>" data-address="<%= account.address %>"
                                            data-pan="<%= account.pan %>">
                                            <%= account.name %>
                                        </option>
                                        <% }); %>
                                            <% } else { %>
                                                <option disabled>No accounts available</option>
                                                <% } %>
                            </select>
                        </div>
                        <div class="col">
                            <!-- New field for the address -->
                            <label for="address">Party Address:</label>
                            <input type="text" id="address" name="address" class="form-control" autocomplete="off"
                                onfocus="selectValue(this)">
                        </div>
                        <div class="col">
                            <!-- New field for the address -->
                            <label for="pan">Vat No:</label>
                            <input type="text" id="pan" name="pan" class="form-control" autocomplete="off"
                                onfocus="selectValue(this)">
                        </div>
                    </div>
                    <hr style="border: 1px solid gray;">

                    <table class="table table-bordered compact-table" id="itemsTable">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>#</th>
                                <th>HSC</th>
                                <th>Description of Goods</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Batch</th>
                                <th>Exp. Date</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="items">
                            <!-- Item rows will be dynamically added here -->
                        </tbody>
                    </table>

                    <div class="form-group row">
                        <div class="col">
                            <label for="itemSearch">Search Item</label>
                            <input type="text" id="itemSearch" class="form-control" placeholder="Search for an item"
                                autocomplete="off" onkeydown="handleItemSearchKeydown(event)">
                            <div id="dropdownMenu" class="dropdown-menu"></div>
                        </div>
                    </div>

                    <hr style="border: 1px solid gray;">
                    <!-- Bill Details Table -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-center bg-light">Bill Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Sub Total Row -->
                                <tr>
                                    <td><label for="subTotal">Sub Total:</label></td>
                                    <td colspan="2" class="text-right">
                                        <p class="form-control-plaintext">Rs. <span id="subTotal">0.00</span></p>
                                    </td>
                                </tr>

                                <!-- Discount Row -->
                                <tr>
                                    <td><label for="discountPercentage">Discount %:</label></td>
                                    <td>
                                        <input type="number" step="any" name="discountPercentage"
                                            id="discountPercentage" class="form-control" value="0.00"
                                            onfocus="selectValue(this)" oninput="calculateTotal()">
                                    </td>
                                    <td><label for="discountAmount">Discount (Rs.):</label></td>
                                    <td>
                                        <input type="number" step="any" name="discountAmount" id="discountAmount"
                                            value="0.00" class="form-control" onfocus="selectValue(this)"
                                            oninput="calculateTotal()">
                                    </td>
                                </tr>

                                <!-- VAT Rows (Initially visible) -->
                                <tr id="taxableAmountRow">
                                    <td><label for="taxableAmount">Taxable Amount:</label></td>
                                    <td colspan="2" class="text-right">
                                        <p class="form-control-plaintext">Rs. <span id="taxableAmount">0.00</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr id="vatPercentageRow">
                                    <td><label for="vatPercentage">VAT (13%):</label></td>
                                    <td>
                                        <input type="number" name="vatPercentage" id="vatPercentage"
                                            class="form-control" value="13.00" readonly>
                                    </td>
                                    <td><label for="vatAmount">VAT Amount:</label></td>
                                    <td class="text-right">
                                        <p class="form-control-plaintext">Rs. <span id="vatAmount">0.00</span></p>
                                    </td>
                                </tr>

                                <!-- Round Off & Total Row -->
                                <tr>
                                    <td><label for="roundOffAmount">Round Off:</label></td>
                                    <td colspan="2">
                                        <input type="number" class="form-control" step="any" id="roundOffAmount"
                                            name="roundOffAmount" value="0.00" onfocus="selectValue(this)"
                                            oninput="calculateTotal()">
                                    </td>
                                </tr>

                                <!-- Total Amount & In Words Row -->
                                <tr>
                                    <td><label for="totalAmount">Total Amount:</label></td>
                                    <td>
                                        <p class="form-control-plaintext">Rs. <span id="totalAmount">0.00</span></p>
                                    </td>
                                    <td><label for="amountInWords">In Words:</label></td>
                                    <td class="text-right">
                                        <p class="form-control-plaintext" id="amountInWords">Zero Only.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Action Buttons -->
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-primary mr-2 p-3" id="saveBill"
                            onclick="submitBillForm(false)">
                            <i class="bi bi-save"></i>
                        </button>
                        <button type="button" class="btn btn-secondary p-3" onclick="submitBillForm(true)">
                            <i class="bi bi-printer"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div id="printModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Print Bill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to print this bill?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitBillForm(true)">Save & Print</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Transaction Modal -->
    <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionModalLabel">Last Transactions</h5>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="transactionList" class="list-group">
                        <!-- Transactions will be dynamically inserted here -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalButton"
                        onkeydown="handleCloseButtonKeydown(event)">Close</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Sales Price Modal -->
    <div class="modal fade" id="setSalesPriceModal" tabindex="-1" aria-labelledby="setSalesPriceModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="setSalesPriceModalLabel">Set Sales Price for New Batch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="puPrice" class="form-label">Purchase Price</label>
                        <input type="number" class="form-control" id="puPrice" step="any" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="marginPercentage" class="form-label">Margin Percentage (%)</label>
                        <input type="number" class="form-control" id="marginPercentage" min="0" step="any"
                            onfocus="selectValue(this)" placeholder="Enter margin percentage">
                    </div>
                    <div class="mb-3">
                        <label for="currency" class="form-label">Currency</label>
                        <select class="form-select" id="currency" onfocus="selectValue(this)">
                            <option value="NPR">NPR</option>
                            <option value="INR">INR</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="mrp" class="form-label">MRP</label>
                        <input type="number" class="form-control" id="mrp" step="any" placeholder="Enter MRP"
                            onfocus="selectValue(this)">
                    </div>
                    <div class="mb-3">
                        <label for="salesPrice" class="form-label">Sales Price</label>
                        <input type="number" class="form-control" id="salesPrice" step="any" onfocus="selectValue(this)"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveSalesPrice">Save Sales Price</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascript/purchase/purchaseEntry.js"></script>

    <script>
        function selectValue(input) {
            input.select(); // Select the value of the input field when it is focused
        }
    </script>

    <script src="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v4.0.7.min.js"
        type="text/javascript"></script>

    <script type="text/javascript">
        window.onload = function () {
            var transactionDateNepali = document.getElementById("transactionDateNepali");
            var nepaliDate = document.getElementById("nepaliDate");

            transactionDateNepali.nepaliDatePicker();
            nepaliDate.nepaliDatePicker();

            // Add validation for Transaction Date
            transactionDateNepali.addEventListener("blur", function () {
                validateNepaliDate(this, "transactionDateError");
            });

            // Add validation for Invoice Date
            nepaliDate.addEventListener("blur", function () {
                validateNepaliDate(this, "nepaliDateError");
            });
        };

        // Function to validate Nepali date
        function validateNepaliDate(inputField, errorSpanId) {
            var errorSpan = document.getElementById(errorSpanId);
            var dateString = inputField.value.trim();

            // Check if the date is valid
            if (dateString && !isValidNepaliDate(dateString)) {
                errorSpan.style.display = "inline"; // Show error message
                // Prevent focus from moving to the next field
                event.preventDefault();
                inputField.focus(); // Keep focus on the current input field
            } else {
                errorSpan.style.display = "none"; // Hide error message
            }
        }


        // Function to check if the Nepali date is valid
        function isValidNepaliDate(dateString) {
            // Regular expression to match the Nepali date format (YYYY-MM-DD)
            var datePattern = /^(\d{4})-(\d{1,2})-(\d{1,2})$/;
            if (!datePattern.test(dateString)) return false;

            // Split the date string into year, month, and day
            var parts = dateString.split("-");
            var year = parseInt(parts[0], 10);
            var month = parseInt(parts[1], 10);
            var day = parseInt(parts[2], 10);

            // Check if the month and day are valid
            if (isNaN(year) || isNaN(month) || isNaN(day)) return false;
            if (month < 1 || month > 12 || day < 1 || day > 32) return false;

            // Manually validate the number of days in the month
            var maxDays = getMaxDaysInNepaliMonth(year, month);
            if (day > maxDays) return false;

            return true;
        }

        // Function to get the maximum number of days in a Nepali month
        function getMaxDaysInNepaliMonth(year, month) {
            // Define the number of days in each month for a given year
            // This is a simplified example and may not cover all edge cases
            var nepaliMonths = [
                31, 32, 31, 32, 31, 30, 30, 30, 29, 30, 29, 30 // Example for year 2080
            ];

            // Adjust for leap years if necessary
            if (year % 4 === 0 && month === 1) { // Check if it's a leap year and the month is Baisakh
                nepaliMonths[0] = 31; // Baisakh has 31 days in a leap year
            }

            return nepaliMonths[month - 1]; // Return the number of days for the given month
        }
    </script>