<div class="form-control">
    <%- include('../layouts/boilerplate', { title: 'Statement' , body: 'wholeseller >> report >> statement' }) %>
</div>
<style>
    /* Styles for the statement content */
    .statement-container {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 20px;
        background-color: #fff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    @media print {

        /* Print-specific styles */
        body * {
            visibility: hidden;
        }

        .statement-container,
        .statement-container * {
            visibility: visible;
        }

        .statement-container {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            white-space: nowrap;
            /* Prevent text from wrapping */
            overflow: hidden;
            /* Hide overflowed text */
            text-overflow: ellipsis;
            /* Add ellipsis (...) to indicate overflowed text */
        }

        .no-print {
            display: none;
        }


    }

    /* Styling for Select2 dropdown */
    .select2-container .select2-selection--single {
        height: 40px;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 100%;
        right: 10px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #495057;
        font-size: 16px;
    }

    /* Focus state for the Select2 dropdown */
    .select2-container--default .select2-selection--single:focus {
        outline: none;
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
</style>

<div class="container" id="mainContainer">
    <h1 class="mt-5">Financial Statement</h1>
    <div class="card mt-4">
        <div class="card-body">
            <form action="/statement" method="get" class="mb-4">
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label for="account">Select Company</label>
                            <select name="account" id="account" class="form-control" autofocus required>
                                <option value="" disabled selected>Select a company</option>
                                <% accounts.forEach(account=> { %>
                                    <option value="<%= account._id %>" <%=account._id==selectedCompany ? 'selected' : ''
                                        %>><%= account.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                    <% if (companyDateFormat==='english' ) { %>
                        <div class="col">
                            <div class="form-group">
                                <label for="fromDate">From</label>
                                <input type="date" name="fromDate" id="fromDate" class="form-control"
                                    value="<%= fromDate ? fromDate : new Date().toISOString().substr(0, 10) %>">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="toDate">To</label>
                                <input type="date" name="toDate" id="toDate" class="form-control"
                                    value="<%= new Date().toISOString().substr(0, 10) %>">
                            </div>
                        </div>
                        <% } else if (companyDateFormat==='nepali' ) { %>
                            <div class="col">
                                <div class="form-group">
                                    <label for="fromDate">From</label>
                                    <input type="text" name="fromDate" id="fromDate" class="form-control"
                                        value="<%= fromDate ? fromDate : nepaliDate %>">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="toDate">To</label>
                                    <input type="text" name="toDate" id="toDate" class="form-control"
                                        value="<%= nepaliDate %>">
                                </div>
                            </div>
                            <% } %>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="paymentMode">Payment Mode</label>
                                        <select name="paymentMode" id="paymentMode" class="form-control">
                                            <option value="exclude-cash" <%=paymentMode==='exclude-cash' ? 'selected'
                                                : '' %>>All (Exclude Cash)</option>
                                            <option value="all" <%=paymentMode==='all' ? 'selected' : '' %>>All (Include
                                                Cash)</option>
                                            <option value="cash" <%=paymentMode==='cash' ? 'selected' : '' %>>Cash
                                            </option>
                                            <option value="credit" <%=paymentMode==='credit' ? 'selected' : '' %>>Credit
                                            </option>
                                        </select>
                                    </div>
                                </div>
                </div>
                <button type="submit" class="btn btn-primary">View Statement</button>
                <% if (selectedCompany) { %>
                    <a href="/statement/pdf?account=<%= selectedCompany %>&fromDate=<%= fromDate %>&toDate=<%= toDate %>&paymentMode=<%= paymentMode %>"
                        class="btn btn-secondary no-print">Export PDF</a>
                    <button type="button" class="btn btn-info no-print" onclick="printStatement()">Print
                        Statement</button>
                    <% } %>
            </form>
            <% if (statement.length> 0) { %>
                <div class="statement-container">
                    <% if (account && account.openingBalanceDate) { %>
                        <div class="form-group">
                            <h3 style="text-align: center;">
                                <%= currentCompanyName %>
                            </h3>
                            <p><strong>A/c :</strong>
                                <%= account.name %>
                            </p>
                            <div class="form-group row">
                                <div class="col">
                                    <p><strong>From:</strong>
                                        <%= fromDate %>
                                    </p>
                                </div>
                                <div class="col">
                                    <p><strong>To:</strong>
                                        <%= toDate %>
                                    </p>
                                </div>
                                <div class="col">
                                    <p><strong>Payment Mode:</strong>
                                        <%= paymentMode.charAt(0).toUpperCase() + paymentMode.slice(1) %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <p><strong>Opening Balance Date:</strong> N/A</p>
                            <% } %>

                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Vch.Type</th>
                                            <th>Vch. No.</th>
                                            <th>Pay. Mode</th>
                                            <th>Account</th>
                                            <th>Debit (Rs.)</th>
                                            <th>Credit (Rs.)</th>
                                            <th>Balance (Rs.)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let totalDebit=0; let totalCredit=0; if (statement.length> 0) {
                                            statement.forEach(entry => {
                                            totalDebit += entry.debit || 0;
                                            totalCredit += entry.credit || 0;
                                            %>
                                            <tr ondblclick="window.location.href='/bills/<%= entry.billId %>/print'"
                                                style="cursor: pointer;">
                                                <td>
                                                    <%= new Date(entry.date).toLocaleDateString() %>
                                                </td>
                                                <td>
                                                    <%= entry.type %>
                                                </td>
                                                <td>
                                                    <%= entry.billNumber %>
                                                </td>
                                                <td>
                                                    <%= entry.paymentMode %>
                                                </td>
                                                <td>
                                                    <% if (entry.accountType && entry.accountType.name) { %>
                                                        <%= entry.accountType.name %>
                                                            <% } else if (entry.purchaseSalesType) { %>
                                                                <%= entry.purchaseSalesType %>
                                                                    <% } else if(entry.journalAccountType) { %>
                                                                        <%=entry.journalAccountType%>
                                                                            <%}else if(entry.purchaseSalesReturnType){%>
                                                                                <%=entry.purchaseSalesReturnType%>
                                                                                    <%}else
                                                                                        if(entry.drCrNoteAccountType){%>
                                                                                        <%= entry.drCrNoteAccountType%>
                                                                                            <%}else{%>
                                                                                                Opening Balance
                                                                                                <% } %>
                                                                                                    <%= entry.partyBillNumber
                                                                                                        %>
                                                </td>

                                                <td>
                                                    <%= entry.debit ? entry.debit.toFixed(2) : '-' %>
                                                </td>
                                                <td>
                                                    <%= entry.credit ? entry.credit.toFixed(2) : '-' %>
                                                </td>
                                                <td>
                                                    <%= entry.balance %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <tr>
                                                    <td colspan="5" style="text-align: right;"><strong>Total:</strong>
                                                    </td>
                                                    <td><strong>
                                                            <%= totalDebit.toFixed(2) %>
                                                        </strong></td>
                                                    <td><strong>
                                                            <%= totalCredit.toFixed(2) %>
                                                        </strong></td>

                                                    <td><strong>
                                                            <%= statement[statement.length - 1].balance %>
                                                        </strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" style="text-align: right;"><strong>Last
                                                            Balance:</strong></td>
                                                    <td><strong>
                                                            <%= statement[statement.length - 1].balance %>
                                                        </strong></td>
                                                </tr>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="8">No transactions found for the selected date
                                                            range.</td>
                                                    </tr>
                                                    <% } %>
                                    </tbody>
                                </table>
                </div>

                <% } else if (!selectedCompany) { %>
                    <div class="alert alert-info" role="alert">Please select a company.</div>
                    <% } else { %>
                        <div class="alert alert-info" role="alert">No transactions found for the selected company and
                            date range.</div>
                        <% } %>
        </div>
    </div>
    <a href="/" class="btn btn-link mt-4 no-print">Back</a>
</div>

<script>
    function printStatement() {
        window.print();
    }

    $(document).ready(function () {
        // Initialize Select2 for searchable dropdown
        $('#account').select2({
            placeholder: "Select an accounts",
            allowClear: true,
            width: '100%', // Ensure it takes the full width of the container
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const companyDateFormat = "<%= companyDateFormat %>";
        if (companyDateFormat === "nepali") {
            const fromDateInput = document.getElementById('fromDate');
            const toDateInput = document.getElementById('toDate');

            // Convert English dates to Nepali dates on load
            if (fromDateInput.value) {
                const nepaliFromDate = new NepaliDate(new Date(fromDateInput.value)).format('YYYY-MM-DD');
                fromDateInput.value = nepaliFromDate;
            }

            if (toDateInput.value) {
                const nepaliToDate = new NepaliDate(new Date(toDateInput.value)).format('YYYY-MM-DD');
                toDateInput.value = nepaliToDate;
            }
        }
    });
</script>