<%- include('../layouts/boilerplate', { title: '' , body: '' }) %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/sales/edit.css">

    <div class="container mt-4 wow-form expanded-container">
        <div class=" card mt-4 shadow-lg p-4 animate__animated animate__fadeInUp expanded-card">
            <div class="card-header">
                Update Sales
            </div>
            <div class="card-body">
                <form action="/bills/edit/<%=bill._id%>?_method=PUT" method="post" id="billForm" class="wow-form">
                    <div class="form-group row">

                        <% if (companyDateFormat==='nepali' ) { %>
                            <!-- Nepali Date Fields -->
                            <div class="col">
                                <label for="transactionDateNepali">Transaction Date:</label>
                                <input type="text" name="transactionDateNepali" id="transactionDateNepali"
                                    class="form-control"
                                    value="<%= bill.transactionDate ? bill.transactionDate.toISOString().split('T')[0]: '' %>"
                                    autofocus required>

                            </div>
                            <div class="col">
                                <label for="nepaliDate">Invoice Date:</label>
                                <input type="text" name="nepaliDate" id="nepaliDate" class="form-control" required
                                    value="<%= bill.date ? bill.date.toISOString().split('T')[0] : '' %>" autofocus>
                            </div>

                            <% } else { %>
                                <!-- English Date Fields -->
                                <div class="col">
                                    <label for="transactionDateRoman">Transaction Date:</label>
                                    <input type="date" name="transactionDateRoman" id="transactionDateRoman"
                                        class="form-control"
                                        value="<%= bill.transactionDate ? bill.transactionDate.toISOString().split('T')[0]: '' %>"
                                        autofocus required>
                                </div>
                                <div class="col">
                                    <label for="billDate">Invoice Date:</label>
                                    <input type="date" name="billDate" id="billDate" class="form-control" required
                                        value="<%= bill.date ? bill.date.toISOString().split('T')[0] : '' %>">
                                </div>
                                <% } %>
                                    <div class="col">
                                        <label for="billNumber">Vch. No:</label>
                                        <input type="number" name="billNumber" id="billNumber" class="form-control"
                                            value="<%= bill.billNumber %>">
                                    </div>
                                    <div class="col">
                                        <label for="paymentMode">Payment Mode:</label>
                                        <select class="form-control" id="paymentMode" name="paymentMode"
                                            onchange="toggleCreditPartyOptions()">
                                            <option>Select</option>
                                            <option value="cash" <%=bill.paymentMode==='cash' ? 'selected' : '' %>>Cash
                                            </option>
                                            <option value="credit" <%=bill.paymentMode==='credit' ?'selected':''%>
                                                >Credit</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <label for="isVatExempt">VAT</label>
                                        <select name="isVatExempt" id="isVatExempt" class="form-control"
                                            onchange="toggleVatInputs()"
                                            onchange="filterItems(document.getElementById('itemSearch'))">
                                            <option value="" disabled selected>Select vat</option>
                                            <% if (vatEnabled) {%>
                                                <option value="false"
                                                    <%=bill.isVatExempt===false&&bill.isVatAll==='true' ? 'selected' :''
                                                    %>>All</option>
                                                <option value="false"
                                                    <%=bill.isVatExempt===false&&bill.isVatAll==='false' ? 'selected'
                                                    : '' %>>13%
                                                </option>
                                                <%}%>
                                                    <option value="true"
                                                        <%=bill.isVatExempt===true&&bill.isVatAll==='false' ? 'selected'
                                                        : '' %>>Exempt</option>
                                        </select>
                                    </div>
                    </div>
                    <div class="form-group row">
                        <div class="col hidden">
                            <label for="purchaseSalesType">Type:</label>
                            <select id="purchaseSalesType" name="purchaseSalesType" class="form-control" disabled>
                                <option value="Sales">Sales</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="account">Party Name:</label>
                            <select name="account" id="account" class="form-control" required>
                                <option value="" disabled selected>Select a party name</option>
                                <% if (accounts && accounts.length> 0) { %>
                                    <% accounts.forEach(account=> { %>
                                        <option value="<%= account._id %>" <%=(account._id.equals(bill.account._id) ||
                                            account.name==='Cash in Hand' )? 'selected' : '' %> data-address="<%=
                                                account.address %>"
                                                data-pan="<%= account.pan %>">
                                                    <%= account.name %>
                                        </option>
                                        <% }); %>
                                            <% } else { %>
                                                <option disabled>No companies available</option>
                                                <% } %>
                            </select>
                        </div>

                        <div class="col">
                            <!-- New field for the address -->
                            <label for="address">Party Address:</label>
                            <input type="text" id="address" name="address" class="form-control"
                                value="<%=bill.account.address%>">
                        </div>
                        <div class="col">
                            <!-- New field for the address -->
                            <label for="pan">Vat No:</label>
                            <input type="text" id="pan" name="pan" class="form-control" value="<%=bill.account.pan%>">
                        </div>
                    </div>
                    <hr style="border: 1px solid gray;">
                    <!-- <div class="form-group row">
                        <div class="col">
                            <div class="form-group row">
                                <div class="col">
                                    <label for="itemSearch">Search Item</label>
                                    <input type="text" id="itemSearch" class="form-control"
                                        placeholder="Search for an item" oninput="filterItems(this)" autocomplete="off"
                                        onkeydown="handleItemSearchKeydown(event)">
                                    <div id="dropdownMenu" class="dropdown-menu"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <table class="table table-bordered compact-table" id="itemsTable">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>H.S. Code</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Batch & Exp.</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="items">
                            <!-- Item rows will be dynamically added here -->

                            <% if (items && items.length> 0) { %>
                                <% items.forEach((item, index)=> { %>
                                    <tr class="item <%= item.vatStatus ? 'vatable-item' : 'non-vatable-item' %>">
                                        <td>
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                            <%= item.item.uniqueNumber || 'N/A' %>
                                        </td>
                                        <td class="col-3">
                                            <input type="hidden" name="items[<%= index %>][item]"
                                                value="<%= item.item._id %>">
                                            <%= item.item.name %>
                                        </td>
                                        <td>
                                            <input type="hidden" name="items[<%= index %>][hscode]"
                                                value="<%= item.item.hscode || 'N/A' %>">
                                            <%= item.item.hscode || 'N/A' %>
                                        </td>
                                        <td>
                                            <input type="number" name="items[<%= index %>][quantity]"
                                                value="<%= item.quantity %>" class="form-control item-quantity"
                                                id="quantity-<%= index %>" min="1" step="any"
                                                oninput="updateItemTotal(this)"
                                                onkeydown="handleQuantityKeydown(event, <%= index %>)"
                                                onfocus="selectValue(this)">
                                        </td>
                                        <td>
                                            <%= item.unit.name %>
                                                <input type="hidden" name="items[<%= index %>][unit]"
                                                    value="<%= item.unit._id %>">
                                        </td>
                                        <td>
                                            <input type="text" name="items[<%= index %>][batchNumber]"
                                                value="<%= item.batchNumber || '' %>"
                                                class="form-control item-batchNumber" id="batchNumber-<%= index %>"
                                                onkeydown="handleBatchKeydown(event, <%= index %>)"
                                                onfocus="selectValue(this)">
                                            <input type="date" name="items[<%= index %>][expiryDate]"
                                                value="<%= item.expiryDate.toISOString().split('T')[0] || '' %>"
                                                class="form-control item-expiryDate" id="expiryDate-<%= index %>"
                                                onkeydown="handleExpDateKeydown(event, <%= index %>)"
                                                onfocus="selectValue(this)">
                                        </td>
                                        <td>
                                            <input type="number" name="items[<%= index %>][price]"
                                                value="<%= item.price || '' %>" class="form-control item-price"
                                                id="puPrice-<%= index %>" step="any" oninput="updateItemTotal(this)"
                                                onkeydown="handlePriceKeydown(event, <%= index %>)"
                                                onfocus="selectValue(this)">
                                        </td>
                                        <td class="item-amount">
                                            <%= (item.quantity * item.price).toFixed(2) %>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" onclick="removeItem(this)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } %>
                        </tbody>
                    </table>

                    <hr style="border: 1px solid gray;">

                    <div class="form-group row">
                        <div class="col">
                            <label for="itemSearch">Search Item</label>
                            <input type="text" id="itemSearch" class="form-control" placeholder="Search for an item"
                                oninput="filterItems(this)" autocomplete="off"
                                onkeydown="handleItemSearchKeydown(event)">
                            <div id="dropdownMenu" class="dropdown-menu"></div>
                        </div>
                    </div>

                    <hr style="border: 1px solid gray;">
                    <!-- Bill Details Table -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-center bg-light">Bill Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Sub Total Row -->
                                <tr>
                                    <td><label for="subTotal">Sub Total:</label></td>
                                    <td colspan="2" class="text-right">
                                        <p class="form-control-plaintext">Rs. <span id="subTotal">
                                                <%= bill.subTotal.toFixed(2) %>
                                            </span></p>
                                    </td>
                                </tr>

                                <!-- Discount Row -->
                                <tr>
                                    <td><label for="discountPercentage">Discount %:</label></td>
                                    <td>
                                        <input type="number" step="any" name="discountPercentage"
                                            id="discountPercentage" class="form-control"
                                            value="<%= bill.discountPercentage.toFixed(2) %>"
                                            oninput="calculateTotal()">
                                    </td>
                                    <td><label for="discountAmount">Discount (Rs.):</label></td>
                                    <td>
                                        <input type="number" step="any" name="discountAmount" id="discountAmount"
                                            value="<%= bill.discountAmount.toFixed(2) %>" class="form-control"
                                            oninput="calculateTotal()">
                                    </td>
                                </tr>

                                <!-- VAT Rows (Initially visible) -->
                                <tr id="taxableAmountRow">
                                    <td><label for="taxableAmount">Taxable Amount:</label></td>
                                    <td colspan="2" class="text-right">
                                        <p class="form-control-plaintext">Rs. <span id="taxableAmount">
                                                <%= bill.taxableAmount.toFixed(2) %>
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr id="vatPercentageRow">
                                    <td><label for="vatPercentage">VAT (13%):</label></td>
                                    <td>
                                        <input type="number" name="vatPercentage" id="vatPercentage"
                                            class="form-control" value="13.00" readonly>
                                    </td>
                                    <td><label for="vatAmount">VAT Amount:</label></td>
                                    <td class="text-right">
                                        <p class="form-control-plaintext">Rs. <span id="vatAmount">
                                                <%= bill.vatAmount.toFixed(2) %>
                                            </span></p>
                                    </td>
                                </tr>

                                <!-- Round Off & Total Row -->
                                <tr>
                                    <td><label for="roundOffAmount">Round Off:</label></td>
                                    <td colspan="2">
                                        <input type="number" class="form-control" step="any" id="roundOffAmount"
                                            name="roundOffAmount" value="0.00" oninput="calculateTotal()">
                                    </td>
                                </tr>

                                <!-- Total Amount & In Words Row -->
                                <tr>
                                    <td><label for="totalAmount">Total Amount:</label></td>
                                    <td>
                                        <p class="form-control-plaintext">Rs. <span id="totalAmount">
                                                <%= bill.totalAmount.toFixed(2) %>
                                            </span></p>
                                    </td>
                                    <td><label for="amountInWords">In Words:</label></td>
                                    <td class="text-right">
                                        <p class="form-control-plaintext" id="amountInWords">Zero Only.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Action Buttons -->
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-primary mr-2 p-3" id="saveBill"
                            onclick="submitBillForm(false)">
                            <i class="bi bi-save"></i>
                        </button>
                        <button type="button" class="btn btn-secondary p-3" onclick="submitBillForm(true)">
                            <i class="bi bi-printer"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Transaction Modal -->
    <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionModalLabel">Last Transactions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="transactionList" class="list-group">
                        <!-- Transactions will be dynamically inserted here -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalButton"
                        onkeydown="handleCloseButtonKeydown(event)">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Batch and Expiry Modal -->
    <div class="modal fade" id="batchModal" tabindex="-1" aria-labelledby="batchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="batchModalLabel">Batch Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>
                <div class="modal-body" id="batchModalBody">
                    <!-- Batch information will be populated here dynamically -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascript/sales/edit.js"></script>